.login-button {
    border-radius: 8px;
    border: 1px solid black;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #c2a392;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-bottom: 15px;
    width: 105px;
}

.header{
  text-shadow: whitesmoke 1px 1px 10px;
  color: #261F1F;
}

.company-header{
  margin: 0px;
}

.create-company{
  background-color: rgb(255,255,255, 0.95);
  padding: 1em;
  border: 2px solid #8B776A;
  border-radius: 10px;
  margin-bottom: 1em;
}

.create-company-h2{
  margin-top: 0px;
}

.create-company-button{
  background-color: #94C6F2;
  border: 1px solid #42352b;
}
.create-employee-button{
  background-color: #94C6F2;
  border: 1px solid #42352b;
}

.create-company-button:hover, .create-employee-button:hover, .login-button:hover {
  background-color:  #42352b;
  color:#f6fdf9 ;
}
.remove-company-button:hover{
  color: #c91a1a;
}

hr{
  border-top: 3px dotted #261F1F;
}

.input{
  display: block;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border: 1px dotted;
  border-radius: 5px;
  padding: 0.5em;
  font-size: medium;
}

.employee-list{
  list-style: none;
  padding-left: 0em;
}

.app-over-video{
  display: block;
  width: max-content;
  margin: 0 auto; 
  position: relative;
}

.video-container{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
  }

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
  }

  @media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 56.25vw;
    }
  }
      
  @media (max-aspect-ratio: 16/9) {
    .video-container iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
      width: 177.78vh;
      
    }
  }


  